* {
    margin: 0 auto;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

hr {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 20px;
}

div {
    margin-top: 50px;
    width: 800px;
    height: 550px;
    background-color: rgba(230, 230, 245, 0.5);
    border-radius: 20px;
    text-align: center;
}

input {
    width: 220px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: white;
    background-color: transparent;
    border-radius: 5px;
}

label {
    font-size: xx-small;
    color: white;
    text-align:left;
}

#signin {
    margin-top: 30px;
    padding: 10px 90px;
    background-color:grey;
    border-color: transparent;
    border-radius: 10px;
    color: white;
}